@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link hr {
  width: 0;
  transition: width 0.3s ease-in-out;
}

.active hr {
  display: block;
  width: 50%;
  transition: width 0.3s ease-in-out;
}

.active p {
  font-weight: bold;
  color: black;
  transition: color 0.3s ease-in-out;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active p {
    background-color: black;
    color: white;
  }
}
